.App {
  text-align: center;
  margin:0;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: yellow;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-title{
color:white;

}
.message{
  margin:0px;
}
.score{
  margin:0px;

}
h3{
  background-color: black; 
color: white;
margin:0px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
